body {
  width: 100vw;
  height: auto; }
  body div {
    position: absolute; }
    body div#turn {
      right: 200px; }
      body div#turn > div {
        width: 200px; }
    body div#pioche {
      left: 60%;
      top: calc(50% - 141px/2);
      width: 101px;
      height: 141px;
      border: 1px solid black;
      text-align: center; }
    body div#player_1 {
      top: 0;
      width: 100%;
      text-align: center; }
      body div#player_1 > a {
        filter: brightness(0);
        display: inline; }
    body div#player_2 {
      top: 10%;
      height: 80%;
      width: 102px; }
      body div#player_2 > a {
        filter: brightness(0);
        display: block; }
    body div#player_3 {
      bottom: 0;
      width: 100%;
      text-align: center; }
      body div#player_3 > a {
        filter: brightness(0);
        display: inline; }
    body div#player_4 {
      height: 80%;
      top: 10%;
      right: 0; }
      body div#player_4 > a {
        filter: brightness(0);
        display: block; }

.flipped {
  filter: brightness(100%) !important; }
